@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}
:root {
  --primary-clr: #000000;
  --secondary-clr: #8d8d8d;
  --third-clr: #ffae00;
  --forth-clr: #ffffff;
}

/* Common Class */
.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.row > * {
  padding: 0 15px;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul > li {
  list-style-type: none;
}

/* Header Section */
.header-section {
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}
.nav-logo {
  max-width: 200px;
}
.nav-logo > a > img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.list {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}
.list::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--third-clr);
  transition: width 0.4s ease;
}
.list:hover::after {
  width: 100%;
}
nav {
  gap: 400px;
}
nav,
.nav-right,
.nav-right > ul,
.header-btn {
  display: flex;
  align-items: center;
}
.nav-right {
  flex-grow: 1;
}
.nav-right > ul {
  margin: 0 auto;
  gap: 30px;
}
.nav-right > ul > li > a {
  font-size: 18px;
  color: var(--primary-clr);
}
.header-btn {
  gap: 25px;
}
.header-btn1 {
  color: var(--primary-clr);
  font-size: 18px;
}
.header-btn1:hover {
  transform: scale(1.2);
}
.header-btn2 {
  color: var(--forth-clr);
  padding: 4px 8px;
  background-color: var(--third-clr);
  border-radius: 5px;
  font-size: 18px;
}
.header-btn2:hover {
  transform: scale(1.2);
}
.active {
  display: flex !important;
}
.icon {
  display: none;
}

/* Banner Section */
.about-banner-section {
  background: url(../assets/Image20250624203733.png) center/cover no-repeat;
  min-height: 100vh;
  margin-bottom: 100px;
  position: relative;
}
.col-2 {
  width: 50%;
}
.about-us-heading {
  font-size: 9vw;
  font-weight: 900;
  line-height: 0.9;
  letter-spacing: -0.02em;
  margin-left: 100px;
  margin-top: 150px;
}
.about-text {
  color: transparent;
  -webkit-text-stroke: 3px #666;
  text-stroke: 3px #666;
  display: block;
}
.us-text {
  color: rgba(255, 174, 0, 0.21);
  display: block;
  font-size: 20.375vw;
  text-align: end;
}
.banner-about-img {
  /* max-width: 1350px; */
  min-height: 325px;
  position: absolute;
  /* bottom: calc(-325px / 2); */
  bottom: -90px;
}
.banner-about-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Welcome Section */
.welcome-section {
  margin-bottom: 60px;
}
.welcome-section > div > h2 {
  text-align: center;
  font-size: 45px;
  color: var(--primary-clr);
}
.welcome-section > div > p {
  text-align: center;
  font-size: 15px;
  color: var(--secondary-clr);
  max-width: 668px;
  margin: 0 auto;
}

/* About Company Section  */
.about-company-section {
  margin-bottom: 100px;
}
.col-6 {
  width: 50%;
}
.about-company-text > h4 {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--third-clr);
}
.about-company-text > h3 {
  font-size: 40px;
  color: var(--primary-clr);
  margin-bottom: 40px;
  text-wrap: nowrap;
}
.about-company-text > p {
  font-size: 15px;
  color: var(--secondary-clr);
  max-width: 530px;
}
.about-img {
  max-width: 625px;
}
.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Blank Section */
.blank-section {
  background-color: var(--forth-clr);
  margin-block: 400px;
  position: relative;
}
.form-pay1 {
  display: none;
}
.footer-flote {
  padding: 30px;
  background-color: var(--forth-clr);
  text-align: center;
  max-width: 800px;
  border-radius: 16px;
  position: absolute;
  min-height: 550px;
  bottom: calc(-550px / 2);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
}
.footer-flote > p {
  font-size: 45px;
  color: var(--primary-clr);
  margin-bottom: 30px;
}
.footer-box-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-box-text,
.footer-box-email {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--secondary-clr);
}
.footer-box-text > input[type="text"] {
  border: none;
  outline: none;
}
textarea {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}
.footer-box-textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--secondary-clr);
  font-size: 15px;
  text-align: start;
}
.form-btn > a {
  padding: 10px 12px;
  color: var(--forth-clr);
  background-color: var(--third-clr);
  border-radius: 8px;
}
.form-btn {
  margin-right: auto;
}
.form-side-p {
  display: flex;
}
.form-side-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.form-side-p > p {
  font-size: 25px;
}
.form-side-up > p {
  font-size: 15px;
  color: var(--secondary-clr);
}
.fotter-last-img {
  max-width: 700px;
}
.fotter-last-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.form-pay {
  max-width: 150px;
}
.form-pay > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.form-side-icon {
  max-width: 180px;
}
.form-side-icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Footer Section  */
.col-4 {
  width: 25%;
}
.footer-section {
  padding-top: 300px;
  padding-bottom: 20px;
  background-color: var(--primary-clr);
}
.footer1 {
  display: flex;
  flex-direction: column;
}
.footer1 > p {
  font-size: 15px;
  color: var(--forth-clr);
  margin-bottom: 30px;
}
.footer-logos {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fotter-logo {
  max-width: 24px;
  min-height: 24px;
}
.fotter-logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-icon {
  max-width: 200px;
}
.footer-icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-section ul > li {
  color: var(--forth-clr);
  font-size: 15px;
  /* margin-bottom: 35px; */
}
.footer-btn {
  padding: 8px 12px;
  color: var(--forth-clr);
  background-color: var(--third-clr);
  border-radius: 8px;
}
input[type="email"] {
  outline: none;
  border: none;
  color: #b0b0b0;
  background-color: transparent;
}
.footer-input {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #d9d9d9;
}
.footer-section > div > hr {
  border: 1px solid var(--third-clr);
}
.footer-last {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  gap: 5px;
}
.footer-last > p {
  color: var(--forth-clr);
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  /* Header Section */
  .icon {
    display: block;
    font-size: 2rem;
    margin-left: auto;
  }
  .nav-right {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    background-color: rgba(164, 170, 134, 0.3);
    backdrop-filter: blur(10px);
    padding: 10px;
    animation: dropdown 1 500ms forwards linear;
  }
  @keyframes dropdown {
    from {
      transform: translateX(-30px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .nav-right > ul {
    flex-direction: column;
  }
  .header-btn {
    flex-direction: column;
    padding-top: 30px;
  }
  nav {
    gap: 200px;
  }

  /* About Company Section  */
  .about-company-section {
    margin-bottom: 250px;
  }
  .col-6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-company-text {
    text-align: center;
  }
  .about-company-section > div > div {
    row-gap: 20px;
  }

  /* Blank Section*/
  .footer-box-section {
    display: flex;
  }
  .form-side-p {
    flex-direction: column-reverse;
  }
  .form-pay {
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  /* Banner Section */
  .about-banner-section {
    margin-bottom: 80px;
  }
  .col-2 {
    width: 100%;
  }
  .banner-about-img {
    bottom: -150px;
  }
  .us-text {
    text-align: center;
  }

  /* Blank Section */
  .form-side-p > p {
    font-size: 15px;
  }
  .footer-flote > p {
    font-size: 25px;
    margin-bottom: 20px;
  }

  /* Footer Section  */
  .col-4 {
    width: 50%;
  }
  .footer-section > div > div {
    row-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  /* Banner Section */
  .about-banner-section {
    margin-bottom: 50px;
  }
  .banner-about-img {
    bottom: -200px;
  }

  /* Welcome Section */
  .welcome-section {
    margin-bottom: 40px;
  }

  /* Blank Section */
  .blank-section {
    margin-block: 250px;
  }
  .footer-flote {
    padding: 30px;
    min-height: 450px;
  }
  .footer-box-section {
    gap: 20px;
  }
  .form-side-icon {
    width: 150px;
  }
}
@media screen and (max-width: 576px) {
  /* Header Section */
  nav {
    gap: 100px;
  }
  .nav-logo {
    max-width: 150px;
  }
  .icon {
    display: block;
    font-size: 1.5rem;
    margin-left: auto;
  }
  .nav-right > ul > li > a {
    font-size: 12px;
  }
  .nav-right > ul {
    gap: 15px;
  }
  .header-btn {
    gap: 15px;
  }
  .header-btn {
    padding-top: 15px;
  }
  .header-btn1 {
    font-size: 12px;
  }
  .header-btn2 {
    font-size: 12px;
  }

  /* Banner Section */
  .about-banner-section {
    margin-bottom: 20px;
    min-height: 70vh;
  }
  .banner-about-img {
    bottom: -230px;
  }

  /* Welcome Section */
  .welcome-section {
    margin-bottom: 20px;
  }
  .welcome-section > div > h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .welcome-section > div > p {
    font-size: 12px;
  }

  /* About Company Section */
  .about-company-text > h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--third-clr);
  }
  .about-company-text > h3 {
    font-size: 30px;
    color: var(--primary-clr);
    margin-bottom: 15px;
  }
  .about-company-text > p {
    font-size: 12px;
    color: var(--secondary-clr);
  }

  /* Blank Section */
  .blank-section {
    margin-block: 200px;
  }
  .form-side {
    display: none;
  }
  .form-pay1 > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .footer-form {
    display: flex;
    gap: 12px;
  }
  .form-btn > a {
    padding: 10px;
    font-size: 12px;
  }
  .footer-flote {
    padding: 20px;
    min-height: 450px;
    width: 280px;
  }

  /* Footer Section  */
  .col-4 {
    width: 100%;
  }
  .footer-section > div > div {
    row-gap: 10px;
  }
  .footer-input {
    max-width: 250px;
  }
  .fotter-logo {
    max-width: 14px;
    min-height: 14px;
  }
  .footer-icon {
    max-width: 150px;
  }
  .footer1 > p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .footer-section ul > li {
    color: var(--forth-clr);
    font-size: 12px;
    margin-bottom: 10px;
  }
  .footer-last > p {
    font-size: 12px;
  }
  .footer-last > img {
    max-width: 14px;
    min-height: 14px;
    object-fit: contain;
  }
}